absl-py==2.0.0
accelerate==0.29.2
adal==1.2.7
alembic==1.13.2
altair==5.4.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyascii==0.3.2
appdirs==1.4.4
applicationinsights==0.11.10
argcomplete==3.4.0
asttokens==2.2.1
astunparse==1.6.3
atomicwrites==1.4.0
attrs==24.2.0
azure-common==1.1.28
azure-core==1.30.2
azure-graphrbac==0.61.1
azure-identity==1.17.1
azure-mgmt-authorization==4.0.0
azure-mgmt-containerregistry==10.3.0
azure-mgmt-core==1.4.0
azure-mgmt-keyvault==10.3.0
azure-mgmt-network==25.4.0
azure-mgmt-resource==23.1.1
azure-mgmt-storage==21.2.0
azureml-core==1.56.0
azureml-dataprep==5.1.6
azureml-dataprep-native==41.0.0
azureml-dataprep-rslex==2.22.2
azureml-dataset-runtime==1.56.0
azureml-opendatasets==1.56.0
azureml-telemetry==1.56.0
backcall==0.2.0
backports.weakref==1.0.post1
Bashutils==0.0.4
beautifulsoup4==4.12.3
bidict==0.23.1
blinker==1.8.2
blis==0.7.11
bqplot==0.12.43
branca==0.7.2
CacheControl==0.14.0
cachetools==5.3.2
catalogue==2.0.10
catboost==1.2.5
cligj==0.7.2
cloud-sql-python-connector==1.11.0
cloudpathlib==0.16.0
clyent==1.2.2
colorama==0.4.6
colorlog==6.8.2
colour==0.1.5
comm==0.1.3
conda-repo-cli==1.0.75
conda-verify==3.4.2
confection==0.1.4
constantly==15.1.0
contextlib2==21.6.0
contractions==0.1.73
cssselect==1.1.0
cymem==2.0.8
Cython==3.0.6
daal4py==2023.1.1
dataclasses==0.6
dataclasses-json==0.6.7
deap==1.4.1
debugpy==1.6.7
decorator==5.1.1
Deprecated==1.2.14
dirtyjson==1.0.8
docker==7.1.0
earthengine-api==0.1.407
eerepr==0.0.4
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
et-xmlfile==1.1.0
executing==1.2.0
Farama-Notifications==0.0.4
fastai==2.7.14
fastapi==0.96.1
fastcore==1.5.29
fastdownload==0.0.7
fastprogress==1.0.3
ffmpeg-python==0.2.0
fire==0.5.0
firebase-admin==6.5.0
Flask-Cors==4.0.1
flatbuffers==24.3.25
folium==0.17.0
fonttools==4.25.0
fqdn==1.5.1
fr-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.7.0/fr_core_news_sm-3.7.0-py3-none-any.whl#sha256=37e9f1f6a278a5138fabdabcc92cc559da917f9b24c76f0adf6758720d7eab10
fst-pso==1.8.1
fusepy==3.0.1
FuzzyTM==2.0.5
fuzzywuzzy==0.18.0
fvcore==0.1.5.post20221221
gast==0.5.4
gcloud==0.18.3
GDAL==3.6.2
geemap==0.32.1
geocoder==1.38.1
geographiclib==2.0
geopandas==1.0.1
geopy==2.4.1
gitdb==4.0.11
GitPython==3.1.43
google-ai-generativelanguage==0.6.9
google-api-core==2.19.0
google-api-python-client==2.133.0
google-auth==2.30.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.17.0
google-cloud-secret-manager==2.20.1
google-cloud-storage==2.17.0
google-crc32c==1.5.0
google-generativeai==0.8.1
google-pasta==0.2.0
google-resumable-media==2.7.1
googleapis-common-protos==1.63.1
graphviz==0.20.3
grpc-google-iam-v1==0.13.1
grpcio==1.65.1
grpcio-status==1.62.2
gTTS==2.5.3
gunicorn==20.1.0
gymnasium==0.29.1
h2o==3.46.0.3
h5py==3.11.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.2
huggingface-hub==0.25.1
humanfriendly==10.0
hydra-core==1.3.2
imantics==0.1.12
imgaug==0.4.0
inflection==0.5.1
iopath==0.1.10
ipyevents==2.0.2
ipyfilechooser==0.6.0
ipykernel==6.22.0
ipyleaflet==0.18.2
ipytree==0.2.2
isodate==0.6.1
isoduration==20.11.0
jeepney==0.8.0
jiter==0.5.0
jsonpickle==3.2.2
jsonpointer==2.1
jwcrypto==1.5.6
keras==3.4.1
knack==0.11.0
labelme2coco==0.2.4
langcodes==3.3.0
langdetect==1.0.9
layers==0.1.5
Levenshtein==0.26.0
libclang==16.0.6
lightgbm==4.3.0
lightning-utilities==0.11.2
llama-cloud==0.0.17
llama-index==0.11.10
llama-index-agent-openai==0.3.2
llama-index-cli==0.3.1
llama-index-core==0.11.10
llama-index-embeddings-openai==0.2.5
llama-index-indices-managed-llama-cloud==0.3.1
llama-index-legacy==0.9.48.post3
llama-index-llms-openai==0.2.8
llama-index-multi-modal-llms-openai==0.2.1
llama-index-program-openai==0.2.0
llama-index-question-gen-openai==0.2.0
llama-index-readers-file==0.2.1
llama-index-readers-llama-parse==0.3.0
llama-index-utils-openai==0.1.0
llama-parse==0.5.5
Mako==1.3.5
marshmallow==3.22.0
matplotlib==3.9.2
miniful==0.0.6
mkl-service==2.4.0
ml-dtypes==0.3.2
mne==1.7.0
msal==1.29.0
msal-extensions==1.2.0
msrest==0.7.1
msrestazure==0.6.4
munkres==1.1.4
murmurhash==1.0.10
mysql-connector-python==9.0.0
namex==0.0.8
narwhals==1.8.1
ndg-httpsclient==0.5.1
nest-asyncio==1.6.0
nltk==3.9.1
numpy==1.23.5
oauth2client==4.1.3
oauthlib==3.2.2
ollama==0.3.3
omegaconf==2.3.0
openai==0.27.2
opencv-python==4.7.0.72
openpyxl==3.0.10
opt-einsum==3.3.0
optree==0.11.0
optuna==4.0.0
outcome==1.3.0.post0
pandas==1.5.3
parrot @ git+https://github.com/PrithivirajDamodaran/Parrot_Paraphraser.git@03084c54b64019ba5fa0b620b9c70ad81123e458
patsy==0.5.3
pep8==1.7.1
pickleshare==0.7.5
pillow==10.4.0
pixellib==0.7.1
playsound==1.3.0
plotly==5.24.1
ply==3.11
pooch==1.8.1
portalocker==2.8.2
preshed==3.0.9
proto-plus==1.23.0
protobuf==4.23.4
psutil==5.9.8
psycopg2==2.9.9
py4j==0.10.9.7
pyahocorasick==2.1.0
pyaml==24.7.0
pyarrow==11.0.0
pyasn1-modules==0.2.8
pybase64==1.4.0
pybboxes==0.1.6
pycryptodome==3.20.0
pycurl==7.45.2
pydantic==1.10.18
pydantic_core==2.23.4
pydeck==0.9.1
PyDispatcher==2.0.5
pydot==1.4.2
pydub==0.25.1
pyFUME==0.3.1
pygame==2.5.2
pyls-spyder==0.4.0
PyMySQL==1.1.1
pynecone==0.1.34
pyogrio==0.9.0
pypdf==4.3.1
pyperclip==1.9.0
pyproj==3.6.1
PyQt5==5.15.10
PyQtWebEngine==5.15.6
pyreadline3==3.4.1
Pyrebase4==4.8.0
pyshp==2.3.1
pyspark==3.5.1
python-box==7.2.0
python-dotenv==0.13.0
python-engineio==4.9.1
python-firebase==1.2
python-jwt==4.1.0
python-Levenshtein==0.26.0
python-lsp-jsonrpc==1.0.0
python-multipart==0.0.5
python-socketio==5.11.4
pyts==0.13.0
pywin32==306
RapidFuzz==3.10.0
rasterio==1.3.10
ratelim==0.1.6
razorpay==1.4.2
redis==4.6.0
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
rfc3986==1.5.0
rsa==4.9
safetensors==0.4.5
sahi==0.11.15
scikit-base==0.7.7
scikit-learn-intelex==20230426.121932
scikit-optimize==0.10.2
scipy==1.11.4
scooby==0.10.0
SecretStorage==3.3.3
selenium==4.24.0
sentence-transformers==3.1.1
sentencepiece==0.2.0
shapely==2.0.2
simpful==2.12.0
simple-websocket==1.0.0
six==1.16.0
sktime==0.28.0
smmap==5.0.1
sniffio==1.3.1
sounddevice==0.5.0
soundfile==0.12.1
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.10.4
spicy==0.16.0
SQLAlchemy==1.4.41
sqlalchemy2-stubs==0.0.2a38
sqlmodel==0.0.8
srsly==2.4.8
starlette==0.27.0
starlette-admin==0.9.0
streamlit==1.38.0
striprtf==0.0.26
tables==3.7.0
TBB==0.2
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-estimator==2.15.0
tensorflow-intel==2.17.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
terminaltables==3.1.10
textsearch==0.0.24
tf_keras==2.17.0
thinc==8.2.3
tiktoken==0.7.0
tokenizers==0.20.0
torch==2.2.2
torchaudio==2.2.2
torchmetrics==1.3.2
torchvision==0.17.2
tqdm==4.66.5
traittypes==0.2.1
transformers==4.45.1
trio==0.26.2
trio-websocket==0.11.1
tsai==0.3.9
typer==0.4.2
typing-inspect==0.9.0
typing_extensions==4.11.0
ultralytics==8.2.100
ultralytics-thop==2.0.8
unrar==0.4
uri-template==1.3.0
uritemplate==4.1.1
uvicorn==0.20.0
wasabi==1.1.2
watchdog==2.3.1
weasel==0.3.4
webcolors==1.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==10.4
wsproto==1.2.0
xgboost==2.0.3
xmljson==0.2.1
yacs==0.1.8
zstandard==0.19.0
